# Dependencies
node_modules/
.npm/
.pnp/
.pnp.js

# Builds
.next/
out/
dist/
.vercel/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
.env.local
.vercel
